<!-- TODO: radio buttons for type -->
<div class="form-container">
    <h2>Start a new project...</h2>
    <form [formGroup]="formGroup" (ngSubmit)="create()">
        <div class="form">
            <div class="form-fields">
                <div class="left-column">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" type="text" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description" rows="4"></textarea>
                        <mat-error *ngIf="formGroup.get('description')!.hasError('maxlength')">Description cannot exceed 1000 characters</mat-error>
                    </mat-form-field>
                </div>
                <div class="right-column">
                    <mat-form-field>
                        <mat-label>Duration</mat-label>
                        <input matInput formControlName="duration" type="number" />
                        <span matSuffix class="suffix-margin">months</span>
                        <mat-error *ngIf="formGroup.get('duration')!.hasError('min')">Must be positive</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Budget</mat-label>
                        <input matInput formControlName="budget" type="number" />
                        <span matSuffix class="suffix-margin">€</span>
                        <mat-error *ngIf="formGroup.get('duration')!.hasError('min')">Must be a positive</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Project Type</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button color="primary" type="submit" mat-raised-button [disabled]="!formGroup.valid">Next</button>
        </div>
    </form>
</div>