:host {
    display: flex;
    flex-grow: 1;
}

.background-container {
    height: 100%;
    width: 100%;
    background-image: url('../../../../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.documents-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.documents-list table {
    flex: 1;
}

.form-container {
    width: 400px;
    margin-left: 20px;
}

.form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mat-form-field {
    margin-bottom: 20px;
}

label[for="file"] {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

input[type="file"] {
    margin-bottom: 10px;
}

.text-danger {
    color: red;
    margin-top: 5px;
}

button[type="submit"] {
    align-self: flex-end;
}

.file-input {
    display: none;
}

.upload-btn {
    background-color: #ffac03;
    color: white;
    height: 30px;
}