<div id="fixed-expenses">
    <div class="mat-elevation-z8">
        <div class="header-div">
            <button class="new-button" *ngIf="user!.id" mat-icon-button color="warn" (click)="lastMonthFixedExpenses()" matTooltip="Display last month fixed expenses">
                <mat-icon>add</mat-icon>
            </button>
            <mat-expansion-panel class="search-header" [expanded]="showFilter">
                <mat-expansion-panel-header>
                    <mat-panel-title>Search</mat-panel-title>
                </mat-expansion-panel-header>
                <form [formGroup]="searchForm" (ngSubmit)="searchExpenses()">
                    <div class="filter-form">
                        <mat-form-field appearance="fill">
                            <mat-label>Type:</mat-label>
                            <mat-select formControlName="types" multiple>
                                <mat-option *ngFor="let type of typesOptions" [value]="type">{{ type }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- Date Range filter -->
                    <div class="filter-form">
                        <mat-form-field appearance="fill" class="date-picker-field">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="filter-form">
                        <mat-form-field appearance="fill" class="date-picker-field">
                            <mat-label>End Date</mat-label>
                            <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                            <mat-datepicker #endPicker></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <app-chips-with-input id="employees-field"
                        [autofillOptions]="unselectedEmployeeNames" 
                        label="Employee" placeholder="Add Employees..." 
                        (itemsChangedEvent)="updateEmployeesByName($event)">
                    </app-chips-with-input>

                    <app-chips-with-input id="creators-field"
                        [autofillOptions]="unselectedCreatorNames" 
                        label="Creator" placeholder="Add Creators..." 
                        (itemsChangedEvent)="updateCreatorsByName($event)">
                    </app-chips-with-input>
    
                    <button mat-icon-button color="primary" type="submit" matTooltip="Search">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" type="button" (click)="clearAll()" matTooltip="Clear all">
                        <mat-icon>clear_all</mat-icon>
                    </button>
                </form>
            </mat-expansion-panel>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let expenseIndex = index">{{ (page * size) + expenseIndex + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let expense">{{ expense.type }}
                    <div *ngIf="expense.type === 'SALARY'">
                        {{ expense.employee.name }} {{ expense.employee.surname }}
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let expense">{{ expense.amount }}</td>
            </ng-container>
            
            <ng-container matColumnDef="period">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fiscal Period</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.period.startDate | date:'dd MMM yyyy' }} - 
                    <div> {{ expense.period.endDate | date:'dd MMM yyyy' }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.creator.name }} {{ expense.creator.surname }}
                    <div> {{ expense.createdOn | date:'dd MMM yyyy' }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let expense">{{ expense.description }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="size" [length]="totalExpenses" showFirstLastButtons
            (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>