<div id="budget-plan-details">
    <div class="content">
        <button id="navigation-button-back" mat-icon-button color="warn" disabled="true"
                matTooltip="One step back">
        <mat-icon>arrow_back</mat-icon>
        </button>
        <button id="navigation-button-next" mat-icon-button color="warn" 
            matTooltip="Next step" (click)="navigateNext()">
        <mat-icon>arrow_forward</mat-icon>
        </button>
        
        <button *ngIf="user!.id === plan.author.id && plan.status==='DRAFT'" mat-icon-button color="warn" (click)="editBudgetPlan()" matTooltip="Edit Budget Plan">
            <mat-icon>edited</mat-icon>
        </button>
        
        <h1> {{ plan!.name }} </h1>
        <h2 class="h2-fiscal-period"> Fiscal Period:  {{ plan!.fiscalDateRange.startDate | date:'dd MMM yyyy'}}  -  {{ plan!.fiscalDateRange.endDate | date:'dd MMM yyyy'}} </h2>
        <h2> Created by {{ plan!.author.name }} {{ plan!.author.surname }} </h2>
        <h3> Last edited on {{ plan!.lastUpdatedOnDate | date:'dd MMM yyyy' }} </h3>
        <div class="hower-expand-container">
            <div class="hower-expand-content" [ngClass]="{'expanded': isHovered}" (mouseover)="toggleHover(true)" (mouseout)="toggleHover(false)">
                Description:  {{ plan.description }}
            </div>
        </div>

        <div id="organization-goals">
            <h1>Current Organization goals</h1>
            <div class="tag" *ngFor="let goal of goalSet!.goals">{{ goal.title }}</div>
        </div>
    </div>
</div>