#budget-plan-details {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    max-height: calc(100% - 65px);
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    background-image: url("../../../../assets/images/background.png");
    background-color: #f5f9ea; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    #navigation-button-next {
        position: absolute;
        top: 105%;
        right: 5px;
        background-color: #476c2a;
        margin-bottom: 20px;
    }
    
    #navigation-button-back {
        position: absolute;
        top: 105%;
        left: 5px;
        background-color: #476c2a;
        margin-bottom: 20px;
    }
    .content {
        padding: 20px;
        margin: 20px;
        border-radius: 5px;
        position: relative;
        background-color: rgba(216, 233, 179, 0.65);
    }

    h1 {
        font-weight: bolder;
        text-align: left;
        //color: #476c2a;
    }

    button {
        position: absolute;
        top: 5px;
        right: 5px; 
        background-color: #476c2a;//3d6223;
    }

    h2 {
        text-align: left;
        font-size: 22px;
    }
    .h2-fiscal-period {
        text-align: left;
        font-size: 22px;
        font-weight: bold;
    }

    h3 {
        text-align: left;
        font-size: 18px;
    }

    label {
        font-size: 20px;
    }

    .hower-expand-container {
        margin-bottom: 20px;
        overflow: hidden;
        width: 95%;
        min-height: 20px;
        max-height: fit-content;
        transition: max-height 0.3s ease;
    }
    .hower-expand-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        font-size: 20px;
        margin-left: 2px;
    }  
    .hower-expand-content.expanded {
        white-space: normal;
        max-height: none;
    }

    #organization-goals {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 20px;

        h1 {
            text-align: left;
            font-size: 25px;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
    
        .tag {
            position: relative;
            width: fit-content;
            padding: 4px 8px;
            background-color: #476c2a;
            color: #f5f9ea;
            border: none;
            border-radius: 20px;
            margin-right: 8px;
            margin-bottom: 8px;
            font-size: 16px;
        }
    
        .tag:hover {
            background-color: #3d6223;
        }
    }
}