<div id="goals-edit">
    <div class="content">
        <button mat-icon-button color="warn" 
            (click)="saveChanges()" [disabled]="!formGroup.valid" 
            [matTooltip]="formGroup.valid ? 'Save changes to Organization Goal' : 'Please check your input'" [matTooltipDisabled]="false">
            <mat-icon>save</mat-icon>
        </button>

        <h1 *ngIf="goal !== undefined"> Goal {{goal.title}} </h1>
        <h2 *ngIf="goal !== undefined"> Created on {{ goal!.validPeriod.startDate }} by {{ goal!.creator.name }} {{ goal!.creator.surname }} </h2>
        <form [formGroup]="formGroup">
            <mat-form-field *ngIf="goal === undefined">
                <mat-label>Goal</mat-label>
                <input class="form-name" matInput formControlName="title" type="text" />
                <mat-error *ngIf="formGroup.value.title === ''">* Goal title is required!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" rows="4"></textarea>
                <mat-error *ngIf="formGroup.value.description === ''">* Description is required!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Rationale</mat-label>
                <textarea matInput formControlName="rationale" rows="4"></textarea>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Priority</mat-label>
                <input matInput formControlName="priority" type="number" />
            </mat-form-field>
        </form>
    </div>
</div>