@use '@angular/material' as mat;

@include mat.core();

$green-palette: mat.define-palette((50 : #fbfdf7,
            100 : #f5f9ea,
            200 : #eef5dd,
            300 : #e7f1cf,
            400 : #e1eec4,
            500 : #dcebba,
            600 : #d8e9b3,
            700 : #d3e5ab,
            800 : #cee2a3,
            900 : #c5dd94,
            A100 : #ffffff,
            A200 : #ffffff,
            A400 : #ffffff,
            A700 : #fcfff7,
            contrast: (50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
            )));

$orange-palette: mat.define-palette((50 : #fff6e1,
            100 : #ffe8b4,
            200 : #ffd982,
            300 : #ffca4f,
            400 : #ffbe2a,
            500 : #ffb304,
            600 : #ffac03,
            700 : #ffa303,
            800 : #ff9a02,
            900 : #ff8b01,
            A100 : #ffffff,
            A200 : #fff9f2,
            A400 : #ffdfbf,
            A700 : #ffd2a6,
            contrast: (50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #000000,
                700 : #000000,
                800 : #000000,
                900 : #000000,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
            )));


$greener-palette: mat.define-palette((50 : #ebf0e7,
            100 : #cdd9c3,
            200 : #acbf9b,
            300 : #8aa573,
            400 : #719255,
            500 : #587f37,
            600 : #507731,
            700 : #476c2a,
            800 : #3d6223,
            900 : #2d4f16,
            A100 : #b6ff8b,
            A200 : #95ff58,
            A400 : #75ff25,
            A700 : #65ff0c,
            contrast: (50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
            )));

$custom-theme-primary: mat.define-palette($greener-palette, 300, 200, 400);
$custom-theme-accent: mat.define-palette($green-palette);
$custom-theme-warn: mat.define-palette($orange-palette, 600, 500, 700);

$custom-theme: mat.define-light-theme((color: (primary: $custom-theme-primary,
                accent: $custom-theme-accent,
                warn: $custom-theme-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0,
        ));

@include mat.all-component-themes($custom-theme);

@font-face {
    font-family: 'Sora Medium';
    src: url('./fonts/Sora/Sora-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Sora Medium', sans-serif;
    color: #092a04;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.mat-mdc-snack-bar-container {
    &.green-snackbar {
        --mdc-snackbar-container-color: #d3e5ab;
        --mat-mdc-snack-bar-button-color: #8aa573;
        --mdc-snackbar-supporting-text-color: #092a04;
    }
}