<div id="latest-fixed-expenses">
    <div class="mat-elevation-z8">
        <div class="header-div">
            <!-- <button class="save-button" *ngIf="user!.id" mat-icon-button color="warn" (click)="saveChanges()" matTooltip="Save changes">
                <mat-icon>save</mat-icon>
            </button> -->
            <button class="new-button" *ngIf="user!.id" mat-icon-button color="warn" (click)="addNewFixedExpense()" matTooltip="Add new fixed expense">
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let expenseIndex = index">{{ (page * size) + expenseIndex + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let expense">
                    <ng-container *ngIf="editStates[expense.id] && expense.type !== 'SALARY'; else viewType" [formGroup]="editForm">
                        <mat-form-field>
                          <mat-label>Type</mat-label>
                          <mat-select formControlName="type">
                            <mat-option *ngFor="let option of typesOptions" [value]="option">{{ option }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>
                      <ng-template #viewType>
                        {{ expense.type }}
                        <div *ngIf="expense.type === 'SALARY'">
                          {{ expense.employee.name }} {{ expense.employee.surname }}
                        </div>
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>
                <td mat-cell *matCellDef="let expense">
                    <div *ngIf="editStates[expense.id]; else viewAmount" [formGroup]="editForm">
                        <mat-form-field *ngIf="expense.type !== 'SALARY'">
                            <mat-label>Amount: </mat-label>
                            <input matInput type="number" formControlName="amount"/>
                        </mat-form-field>
                        <div *ngIf="expense.type === 'SALARY'" class="salary-one-row">
                          <div class="salary-div">
                            <mat-form-field>
                                <mat-label>Wage: </mat-label>
                                <input matInput type="number" formControlName="wage"/>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Working Hours: </mat-label>
                                <input matInput type="number" formControlName="workingHours"/>
                            </mat-form-field>
                          </div>

                          <div class="salary-div">
                            <mat-form-field>
                                <mat-label>Overtime Wage: </mat-label>
                                <input matInput type="number" formControlName="overtimeWage"/>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Overtime Hours: </mat-label>
                                <input matInput type="number" formControlName="overtimeHours"/>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    <ng-template #viewAmount>
                        {{ expense.amount }}
                        <div *ngIf="expense.type === 'SALARY'" class="salary-one-row"> 
                            <div class="salary-div">
                                <label class="salary-label">wage: {{expense.employee.wage}}</label>
                                <label class="salary-label">working hours: {{expense.employee.workingHours}}</label>
                            </div>
                            <div class="salary-div">
                                <label class="salary-label">overtieme wage: {{expense.employee.overtimeWage}}</label>
                                <label class="salary-label">overtime hours: {{expense.overtimeHours}}</label>
                            </div>
                        </div>
                    </ng-template>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="period">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Fiscal Period</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.period.startDate | date:'dd MMM yyyy' }} - 
                    <div> {{ expense.period.endDate | date:'dd MMM yyyy' }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let expense">
                    {{ expense.creator.name }} {{ expense.creator.surname }}
                    <div> {{ expense.createdOn | date:'dd MMM yyyy' }} </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                <td mat-cell *matCellDef="let expense">
                    <div *ngIf="editStates[expense.id]; else viewDescription" [formGroup]="editForm">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description" rows="4"></textarea>
                        </mat-form-field>
                    </div>
                    <ng-template #viewDescription>
                        {{ expense.description }}
                    </ng-template>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                <td mat-cell *matCellDef="let expense">
                    <div class="one-row">
                        <button *ngIf="!editStates[expense.id]"
                            mat-icon-button color="warn" (click)="editFixedExpense(expense)" matTooltip="Edit fixed expense">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button *ngIf="editStates[expense.id]"
                            mat-icon-button color="warn" (click)="saveChangesToExpense(expense)" matTooltip="Save changes to this fixed expense">
                            <mat-icon>save</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="size" [length]="totalExpenses" showFirstLastButtons
            (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>