<!-- TODO: progress bar for each document -->
<div class="background-container">
    <div class="documents-list">
        <h3>Assigned documents:</h3>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of documents; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ document.name }}</td>
                    <td>{{ document.progress.progress }}%</td>
                    <td>{{ document.progress.status }}</td>
                    <td>{{ document.task }}</td>
                    <td>
                        <button mat-icon-button color="primary" (click)="open(document)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>