#notifications-div {
    position: absolute;
    top: 5%; 
    right: 2%;
    width: 25%;
    max-height: 400px;
}

#notifications-button {
    align-self: flex-end;
    position: absolute;
    top: 5%; 
    right: 2%;
    margin-top: 5%;
    background-color: #719255;
    border: none;
    border-radius: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    cursor: pointer;
}

#notifications-container {
    position: absolute;
    top: 80px;
    right: 0%;

    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-height: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #719255;

    .header-div{
        display: flex;
        justify-content: space-between;
        align-content: flex-start;
        margin-top: 2px;

        h1{
            margin: 2px;
            margin-left: 5px;
            font-size: 20px;
            font-weight: bold;
        }
        button{
            background-color: #acbf9b;
        }
    }
}

.notification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    margin: 5px;
    background-color: #acbf9b;
    border: 1px solid #ccc;
    border-radius: 5px;

    h1{
        font-size: 18px;
    }
    p, a{
        font-size: 14px;
    }
    
    tr{
        margin: 5px;
    }
    
}
  
.notification-content {
    background-color: #acbf9b;
    display: flex;
    flex-direction: column;   
}
  
.notification-actions{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;

    small {
        flex-grow: 0; 
        align-self: flex-end; 
        margin-top: auto;
        width: fit-content;
        min-width: fit-content;
    }

    button {
        flex-grow: 0; 
        background-color: #719255;
        margin: 1%;
    }
}

.read-all {
    background-color: #719255;
}