<mat-toolbar color="primary">
    <div id="logo">
        <a [routerLink]="['/']">
            <img src="../../../../assets/images/logo.png" alt="Logo">
        </a>
    </div>
    <div id="name" [routerLink]="['/']">
        EnviroNet
    </div>
    <div id="buttons">
        <button mat-raised-button color="accent" [routerLink]="['/']">Home</button>

        <!-- ADMIN -->
        <button mat-raised-button color="accent" *ngIf="user && user.role == 'ADMINISTRATOR'" [routerLink]="['/admin/register']">Register</button>
        <button mat-raised-button color="accent" *ngIf="user && user.role == 'ADMINISTRATOR'" [routerLink]="['/admin/members']">Members</button>

        <!-- ORG. MEMBER -->
        <button mat-raised-button color="accent" *ngIf="user && user.role == 'PROJECT_MANAGER'" [routerLink]="['/org/projects']">Projects</button>
        <button mat-raised-button color="accent" *ngIf="user && user.role !== 'ADMINISTRATOR' && user.role !== 'REGISTERED_USER'" [routerLink]="['/org/projects/tasks']">Tasks</button>
        <!-- ACCOUNTANT -->
        <button mat-raised-button color="accent" *ngIf="user && user.role == 'ACCOUNTANT'" [routerLink]="['budget-plans']">Budget Plans</button>
        
        <!-- BOARD MEMBER -->
        <button mat-raised-button color="accent" *ngIf="user && user.role == 'BOARD_MEMBER'" [routerLink]="['goals']">Organization Goals</button>

        <!-- EDUCATOR -->
        <button mat-raised-button color="accent" *ngIf="user && user.role === 'EDUCATOR'" [routerLink]="['/my-lectures']">My lectures</button>

        <!-- REGISTERED USER -->
        <button mat-raised-button color="accent" *ngIf="user && user.role === 'REGISTERED_USER'" [routerLink]="['/browse-lectures']">Browse lectures</button>

        <!--ALL USERS-->
        <button mat-raised-button color="accent" *ngIf="user && user.username !== '' && user.role !== 'ADMIN'" [routerLink]="['/my-profile']">My Profile</button>
        <button mat-raised-button color="accent" *ngIf="user && user.username === ''" [routerLink]="['/login']">Login</button>
        <button mat-raised-button color="accent" *ngIf="user && user.username !== ''" (click)="onLogout()">Logout</button>
    </div>
</mat-toolbar>