#fixed-expenses-estimate {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    max-height: calc(100% - 65px);
    height: 100%;
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;

    background-image: url("../../../../assets/images/background.png");
    background-color: #f5f9ea; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    h1 {
        font-weight: bolder;
        text-align: left;
        //color: #476c2a;
    }
    h2 {
        text-align: left;
        font-size: 22px;
    }
    .h2-fiscal-period {
        text-align: left;
        font-size: 22px;
        font-weight: bold;
    }
    .total-amount{
        width: auto;
        position: absolute;
        top: 25px;
        right: 20px; 
        
        padding: 4px 8px;
        background-color: #3d6223;
        color: #f5f9ea;
        border: none;
        border-radius: 20px;
        margin-right: 3px;
        margin-left: 3px;
        font-size: 20px;
        font-weight: bold;
    }
}

.mat-elevation-z8 {
    padding: 20px;
    margin: 20px;
    gap: 10px;
    border-radius: 5px;
    position: relative;

    .header-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between; 
        gap: 10px;
    }
    
    .search-header {
        font-weight: bold;
        width: calc(100% - 75px);
    }
    .new-button {
        width: auto;
        position: absolute;
        top: 140px;
        right: 20px; 
        background-color: #476c2a;//3d6223;
    }

    form {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        transition: height 0.3s ease-in-out;
        align-items: flex-end;
        align-items: center;
    }

    .filter-form {
        margin-top: 20px;

        mat-form-field{
            height: 75px;
        }
    }

    label {
        font-weight: bold;
        margin-bottom: 8px;
    }

    input {
        padding: 10px;
        width: 100%;
        border: 1px solid #d3e5ab;
        border-radius: 4px;
        margin-bottom: 16px;
        box-sizing: border-box;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 16px;

        .one-row {
            width: 100px;
            display: flex;
            flex-direction: row;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #d3e5ab; 
            width: auto;
        }

        th {
            font-weight: bold;
        }

        th:first-child,
        td:first-child {
            width: 50px;
        }

        tr:nth-child(even) td {
            background-color: lighten(#d3e5ab, 20%); 
        }

        tr:not(th):hover td {
            background-color: lighten(#d3e5ab, 10%); 
        }
    }
}