<!-- TODO -->
<p>home works!</p>
<div class="container">
    <h1>Test Typography</h1>
    <button mat-raised-button color="primary" class="custom-button">Primary color button</button>
    <button mat-raised-button color="accent" class="custom-button">Accent color button</button>
    <button mat-raised-button color="warn" class="custom-button">Warn color button</button>
    <form>
        <mat-form-field class="custom-field">
            <input matInput placeholder="Username">
        </mat-form-field>
    </form>
</div>