.home-container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    overflow: hidden;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    background-color: transparent;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 20px;
    font-size: 20px;
    z-index: 1000;
}

h1 {
    text-align: center;
}