#my-profile {
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    height: calc(100% + 100px);
    overflow: hidden;
    
    background-image: url("../../../../assets/images/background.png");
    background-color: #f5f9ea; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

h1 {
    text-align: left;
    margin-left: 40px;
    margin-top: 40px;
}

#profile-info-div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#picture-div {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 25px;
    
    img {
        width: 350px;
        height: 350px;
        min-width: 150px;
        min-height: 150px;
        object-fit: cover;

        border: 1px;
        border-radius: 100%;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
    }
}

#info-div {
    width: 65%;
    display: flex;
    flex-direction: column;

    h1 {
        font-weight: bolder;
        color: #476c2a;
        text-align: left;
        margin-left: 0px;
    }

    h2 {
        width: 150px;
        min-width: 100px;
        font-size: x-large;
    }

    h3 {
        font-size: small;
    }

    label {
        width: 250px;
        min-width: 100px;
        font-size: x-large;
    }

    .one-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }

    .info-label {
        width: 250px;
        min-width: 100px;
        font-size: x-large;
        font-weight: bold;
    }
}

button {
    height: 35px;
    width: 20%;
    cursor: pointer;
    margin-left: 45px;
    margin-top: 25px;
    background-color: #cee2a3;
    
    border: 1px;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}